<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>服务同步工具</title>
    <script src="/static/js/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/static/js/jquery-easyui/themes/default/easyui.css"/>
    <link rel="stylesheet" type="text/css" href="/static/js/jquery-easyui/themes/icon.css"/>
    <script type="text/javascript" src="/static/js/jquery-easyui/jquery.easyui.min.js"></script>

</head>
<body>
    <h1 style="...">请选择环境</h1>
    <select name="" id="" class="easyui-combox" style="width: 143px;" data-option="editable:false,panelHeight:;'auto'">
        <option>--全部--</option>
        <option>--环境ibp-sit--</option>
        <option>--环境ibp-sit--</option>
        <option>--环境ibp-sit--</option>

    </select>

</body>
</html>